/*------------------------------------*\
  COMMON
\*------------------------------------*/
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 200px;
}

.link--hover--blue:hover {
    color: blue;
}
.list-inline {
    list-style-type: none;
    margin-top: 0;
}
.list-inline>li {
    display: inline;
}
.delimiter li:not(:last-child)::after {
    content: " | "
}
.main-nav-hamburger,
.nav-trigger,
label[for="nav-trigger"],
.content__side-nav-small,
.content__main-content>header {
    display: none;
}
/*------------------------------------*\
HEADER
\*------------------------------------*/

.page-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background: #FFFFFF;
    z-index: 2;
    >article {
        width: 20%;
    }
    .page-header__social-media-icons {
        height: 1em;
    }
    .page-header__account {
        align-content: flex-end;
        text-align: right;
        .search {
            max-width: 230px;
            padding: 7px 10px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
/*------------------------------------*\
NAVIGATION
\*------------------------------------*/

.main-nav {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    border-top: 1px solid $fontAndBorderColor;
    border-bottom: 1px solid $fontAndBorderColor;
    margin-top: 100px;
    >ul {
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
    }
    .main-nav__nav-primary-list li > a {
        color: $fontAndBorderColor;
        font-size: 15px;
        font-weight: 600;
        margin: 0 2em;
    }
    .main-nav__nav-secondary-list {
        text-align: center;
        border-top: 1px solid #e2e2e2;
        padding-top: 10px;
        ul {
            margin-bottom: 0;
        }
        li > a {
            font-size: 14px;
            font-weight: 300;
            margin: 0 1em;
            font-style: italic;
        }
    }
    .main-nav__more {
        position: relative;
        height: 18px;
        margin-right: 18px;
        font-family: "brandon_grotesque";
        display: inline-block;
        > span {
            height: 18px;
            line-height: 20px;
            padding: 0 6px;
            display: block;
            background: #ccc;
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
        }
        img {
            position: absolute;
            width: 10px;
            height: 18px;
            top: 0;
            right: -10px;
        }
    }
}
/*------------------------------------*\
CONTENT
\*------------------------------------*/

.content {
    justify-content: space-between;
}
.navigation-path {
    padding: 1em 0;
}
/*------------------------------------*\
SIDE NAV
\*------------------------------------*/

.content__side-nav {
    width: 13%;
    font-size: 14px;
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        padding-top: 0;
        > li {
            margin: 1em 0;
        }
    }
    > section {
        margin-bottom: 2em;
    }
    .content__side-nav__primary-aside-nav>li::after {
        content: " >";
        padding-left: 5px;
    }
    .content__side-nav__additional-aside-nav>li:last-child {
        color: blue
    }
}
/*------------------------------------*\
ADVERTISEMENT
\*------------------------------------*/

.content__advertise {
    width: 26%;
    section {
        border: 1px solid #e5e5e5;
        text-align: center;
        padding: 2em;
        a.border-link {
            display: inline-block;
            padding: 5px 10px;
            color: $fontAndBorderColor;
            border: 1px solid $fontAndBorderColor;
        }
        > header {
            font-family: 'Droid Serif', serif;
            font-size: 25px;
            color: $fontAndBorderColor;
            font-weight: bold;
            margin: 20px 0;
            text-align: center;
        }
    }
}
/*------------------------------------*\
MAIN CONTENT
\*------------------------------------*/

.content__main-content {
    text-align: center;
    width: 58%;
    .content__main-content__img {
        display: block;
        margin: 0 auto;
        min-width: 100%;
        max-width: 100%;
    }
}
/*------------------------------------*\
FOOTER
\*------------------------------------*/

.page-footer {
    .page-footer__list {
        padding-bottom: 10px;
    }
}