/*------------------------------------*\
  COMMON
\*------------------------------------*/

html {
    color: #666;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12px;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 200px;
}
.clearfix {
    clear: both;
}
a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}
.title {
    color: #000000;
    font-family: 'Molle', cursive;
    font-size: 3em;
}
.link--hover--blue:hover {
    color: blue;
}
.uppercase {
    text-transform: uppercase;
}
.list-inline {
    list-style-type: none;
    margin-top: 0;
}
.list-inline>li {
    display: inline;
}
.delimiter li:not(:last-child)::after {
    content: " | "
}
.main-nav-hamburger, .nav-trigger, label[for="nav-trigger"],.content__side-nav-small,.content__main-content>header{
    display: none;
}


/*------------------------------------*\
  HEADER
\*------------------------------------*/

.page-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:100%;
    height:100px;
    top: 0;
    background: #FFFFFF;
    z-index: 2;
}
.page-header>article {
    width: 20%;
}

.page-header__social-media-icons {
    height: 1em;
}
.page-header__account {
    align-content: flex-end;
    text-align: right;
}
.page-header__account>.search {
    max-width: 230px;
    padding: 7px 10px;
    width: 100%;
    margin-bottom: 10px;
}



/*------------------------------------*\
  NAVIGATION
\*------------------------------------*/
.main-nav {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top:100px;
}
.main-nav>ul {
    margin:0;
    margin-bottom:1em;
    padding:0;
}
.main-nav__nav-primary-list li>a {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin: 0 2em;
}
.main-nav__nav-secondary-list {
    text-align: center;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
}
.main-nav__nav-secondary-list ul {
    margin-bottom: 0;
}
.main-nav__nav-secondary-list li>a {
    font-size: 14px;
    font-weight: 300;
    margin: 0 1em;
    font-style: italic;
}
.main-nav__more {
    position: relative;
    height: 18px;
    margin-right: 18px;
    font-family: "brandon_grotesque";
    display: inline-block;
}
.main-nav__more>span {
    height: 18px;
    line-height: 20px;
    padding: 0 6px;
    display: block;
    background: #ccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}
.main-nav__more img {
    position: absolute;
    width: 10px;
    height: 18px;
    top: 0;
    right: -10px;
}
.navigation-path {
    padding: 1em 0;
}





/*------------------------------------*\
  CONTENT
\*------------------------------------*/

.content {
    display: flex;
    min-height: 100px;
    justify-content: space-between;
}
.content h3 {
    font-family: 'Droid Serif', serif;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    margin-bottom: 0;
}
/*------------------------------------*\
  SIDE NAV
\*------------------------------------*/
.content__side-nav {
    width: 13%;
    font-size: 14px;
}
.content__side-nav h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.content__side-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}
.content__side-nav ul>li {
    margin: 1em 0;
}
.content__side-nav__primary-aside-nav>li::after {
    content: " >";
    padding-left: 5px;
}
.content__side-nav__additional-aside-nav>li:last-child {
    color: blue
}
.content__side-nav>section {
    margin-bottom: 2em;
}
/*------------------------------------*\
  ADVERTISEMENT
\*------------------------------------*/
.content__advertise {
    width: 26%;
}
.content__advertise section {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 2em;
}
.content__advertise section a.border-link {
    display: inline-block;
    padding: 5px 10px;
    color: #000000;
    border: 1px solid #000000;
}
.content__advertise section>header {
    font-family: 'Droid Serif', serif;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
/*------------------------------------*\
  MAIN CONTENT
\*------------------------------------*/
.content__main-content {
    text-align: center;
    width: 58%;
}
.content__main-content__img{
    display: block; 
    margin: 0 auto;
    min-width: 100%;
    max-width: 100%;
}




/*------------------------------------*\
  FOOTER
\*------------------------------------*/
.page-footer {
    background: rgb(51, 51, 51);
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 13px;
    font-weight: 700;
}
.page-footer__list {
    padding-bottom: 10px;
}
.page-footer__list.delimiter li:not(:last-child)::after {
    padding: 0 1em;
}
.page-footer a:hover {
    color: #9b9b9b
}
