.main-content_text-block{
  text-align: center;
}
.main-content_game_area {
  border: 1px solid black; 
  margin: 10vh auto;
}
.main-content_game_area td{
  border: 5px solid black;
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  font-family: cursive;
}
.main-content_game_area td.selectedElement{
  border: 5px dotted #b35900;
  background-color: #fff3e6;
}
.main-content_button-area{
  text-align: center;
}
.main-content_reset-button{
  font-size: 2em;
}