.main-content_text-block{
  text-align: center;
}
.tic-tac-toe_text-render {
  border: 1px solid black; 
  margin: 10vh auto;
  display:none;
}
.tic-tac-toe_text-render td{
  border: 5px solid black;
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  font-family: cursive;
}
.tic-tac-toe_text-render td.selectedElement{
  border: 5px dotted #b35900;
  background-color: #fff3e6;
}
.main-content_button-area{
  text-align: center;
  font-size: 2em;
}
.main-content_reset-button{
  font-size: inherit;
  margin-right: 10px;
}

.main-content_button-area input[type=checkbox] {
  transform: scale(2.5);
}

.main-content_game_area {
  text-align: center;
}

.tic-tac-toe_canvas-render{
  background-color: darkgreen;
}